$headerColor: #CCA353;
$searchBarColor: #f0c36c;
$searchBarSubmitColor: #a7874b;

$mainFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;

$appFontFamily: 'Work Sans', sans-serif;

$codeFontFamily: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
monospace;